<footer>
  <div class="pull-right">
    Template geral de ADM - SB Admin V 2.0 para ruby on rails by <a href="">VOA Studio Tech</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
